/* base  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    /* margin: 0; */
    background-color: #fff;
}
button{
    cursor: pointer;
}

select{
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

form{
    display: inline;
}

/* fonts  */
@font-face{
    font-family: Montserrat;
    src: url(font-familys/Montserrat-Regular.ttf);
}

.hide{
    display: none !important;
}

.zIndexPlay{
    z-index: -1;
}

.black-page{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
}

.full-screen-hide.fas.fa-bars{
    display: none;
}





/* nav  */
.nav-container{
    background-color: #ff7f00;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-container img{
    cursor: pointer;
    width: 133px;
    height: 22px;
    margin:24px 0px 20px 50px ;
    
}

.nav-container ul{
    margin-left: 57px;
    
}

.nav-container li{
    margin-top:19px;
    display: inline-block;
    margin-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-container a:hover{
    color: #040a2c;
}

.nav-container li:last-child{
    padding-left: 16px;
    margin-right: 57px;
    border-left: 1px solid #040a2c;
}

.nav-container a{
    width: 60px;
    height: 15px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
}


/* about */
.about{
    display: flex;
    align-items: center;
}

.about img{
    margin: 50px 10px;
}

.about-txt h2{
    font-size: 40px;
}

.about-txt p{
    font-size: 30px;
    margin: 0 5px;
}


/* gallery */
.gallery{
    background-color: #fff;
}

#filterBy { 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin: 10px; 
    width: 200px;
}

#myKeywords{
    position: absolute;
}

.upload-btn{
    font-size: 1rem;
    background-color: #ff7f00;
    padding: 10px;
    font-family: Montserrat;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.upload-btn:hover{
    background-color: #da7612;
}



#myKeywords li{
    margin-left: 12px;
}

#myKeywords li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    font-size: 18px;
    color: black; 
    display: inline-block;
    width: 200px;
}
#myKeywords li a:hover:not(.header) {
    background-color: #eee;
}


.imgs-container{
    padding: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
}

.imgs-container img{
    width: 100%;
    cursor: pointer;
}

.filter{
    margin-left: 10px;
}

.filter span{
    cursor: pointer;
}


/* meme generator */
.canvas-page{
    background-color: #e3e3e3;
    min-height: 488px;
    display: flex;
    align-items: center;
}

.canvas-page-container{  
    margin: 0 auto;
    max-width: 1200px;
}

.modal{
    text-align: center;
    width: 200px;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid black;
    border-radius: 12px;
}

.modal p{
    padding: 5px;
}

.modal button{
    margin: 5px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}

label img{
    width: 60px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

label img:hover{
    background-color: #ff7f00;
}

.canvas-container{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.meme-generator{
    padding: 30px 20px;
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    justify-content: space-between;
}

canvas {
    display: block;
    border: 1px solid black;
}

.controler-btns button{
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: white;
    border-radius: 12px;
    border: none;
}

.controler-btns button:hover, .dowloand-btn:hover{
    color: #ff7f00;
}

.text-input{
    width: 200px;
    height: 60px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    grid-area: 1/1/2/4;
}

.controler-btns{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px ;
    margin: 0 auto;
}

.controler-btns .keyboard-control{
    width: 340px;
    grid-area: 6/1/7/5;
    font-size: 25px;
}

.controler-btns .hide-mark{
    display: block;
    width: 130px;
    font-size: 25px;
    grid-area: 5/4/6/6;
}

.text-color{
    grid-area: 1/4/2/5;
}


.text-color-lebel{
    grid-area: 1/4/2/5;
    z-index: 1;
}

.stroke-color{
    grid-area: 1/5/2/6;
}
.stroke-color-lebel{
    grid-area: 1/5/2/6;
    z-index: 1;
}
  
.color-input{
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 10px solid white;
    border-radius: 12px;
    
}

.move-up{
    grid-area: 2/1/3/2;
}

.controler-btns select{
    grid-area: 5/1/6/5;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;  
}

.share-container{
    padding-top: 3px ;
    display: block;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    width: 60px;
    height:60px;
    font-size: 50px;
    text-align: center;
    grid-area:4/5/5/6; 
}

.share-container a{
    color: #4267B2;
}

.dowloand-btn{
    padding-top: 10px;
    text-align: center;
    color:black;
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: white;
    border-radius: 12px;
    border: none;
}


/* footer */

footer{
    text-align: center;
    background-color: #ff7f00;
}

footer img{
    padding-top: 77px;
}

footer p{
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 400;
    padding-bottom:73px ;
}


/* break points */
@media(max-width:900px){
    .about{
        flex-direction: column;
        background-color: #fff;
    }
    
    .about h2{
        padding: 5px;
    }

    .about p{
        padding-bottom: 5px;
    }  

    .meme-generator{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .canvas-container {
        margin-right: 0;
        
    }
}

/* @media(max-width:900px){
    .meme-generator{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .canvas-container {
        margin-right: 0;
        
    }
} */

@media(max-width:500px){
    .nav-container img{
        width: 133px;
        height: 22px;
        margin:24px 0px 20px 10px ;
    }

    .nav-container li:last-child {
        margin-right: 10px;
    }

    .controler-btns .hide-mark{
        display: block;
        font-size: 25px;
    }

    .canvas-container{
        margin: 0;
        width: 100%;
    }

    .nav-container ul{
        right: 0;
        position: fixed;
        display: flex;
        z-index: 1;
        flex-direction: column;
        background-color:#ff7f00;
        height: 100%;
        -webkit-box-shadow: 7px 0px 29px 8px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 0px 29px 8px rgba(0,0,0,0.75);
        box-shadow: 7px 0px 29px 8px rgba(0,0,0,0.75);
        transform: translateX(200px);
        transition: transform 0.6s;
    }
    
    .nav-container .hamburger-clicked{
        transform: translateX(0px);
    }
    
    .nav-container li:last-child{
        padding-left: 0px;
        margin-right: 57px;
        margin-left: 57px;
        border-left: none;
    }

    .nav-container li{
        margin-right: 57px;
        margin-left: 57px;
    }

    .nav-container li:first-child{
        padding-top: 65px;
    }

    .full-screen-hide.fas.fa-bars{
        display: inline-block;
    }

    .nav-container i{
        margin-right: 10px;
        margin-top: 10px ;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }

    .about img{
        width: 250px;
        margin: 50px 10px;
    }

    .smartphone-screen-hide{
        display: none;
    }
    
}



